header{
    display: flex;
    margin-bottom: 16px;

    &.hsi{
        justify-content: flex-end;
    }

    &.hso{
        justify-content: flex-start;
    }
}


@mixin link-bg ($b-radius,$color,$bg-color) {
    @include title(700);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: $b-radius;
    height: 60px;
    width: 240px;
    color: $color;
    background-color: $bg-color;
    
    & a{
        display: inline-flex;
        justify-content: center;
        width: 240px;
        color: $color;
        text-decoration:none;
        height: 60px;
        align-items: center;
    }

    & p{
        margin:0;
    }
}

@mixin link-bg-dis($left, $right) {
    position: absolute;
    z-index: -2;
    top: 0;
    left: $left;
    right: $right;
    transition: width 0.8s ease-out 0.05s;
    
    width: 100vw;
}


.btn-si{
    @include link-bg(0 0 20px 0, $primary, $primaryLighter);

    &.dis{
        @include link-bg-dis(0,unset);
    }
}

.btn-so{
    @include link-bg(0 0 0 20px, $primaryLighter, $primary);

    &.dis{
        @include link-bg-dis(unset,0);
    }
}