header{
    display: flex;
    margin-bottom: 16px;
    overflow: hidden;
    &.hsi{
        justify-content: flex-end;
    }

    &.hso{
        justify-content: flex-start;
    }
}


@mixin link-bg ($b-radius,$color,$bg-color,$left,$right) {
    @include header(700);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: $b-radius;
    height: 60px;
    width: 240px;
    color: $color;
    background-color: $bg-color;
    left: $left;
    right: $right;
    transition: right 0.3s ease-in, left 0.3s ease-in;
    position: relative;
    
    & a{
        display: inline-flex;
        justify-content: center;
        width: 240px;
        color: $color;
        text-decoration:none;
        height: 60px;
        align-items: center;
    }

    & p{
        margin:0;
    }
}

@mixin link-bg-dis() {
    position: absolute;
    z-index: -2;
    top: 0;
    transition: width 0.8s ease-out 0.05s,border-radius 0.8s ease-out 0.2s;
    border-radius: 0;
    width: 100vw;
}



.btn-si{
    @include link-bg(0 0 20px 0, $primaryDark, $primaryLighter,0px,unset);

    &.dis{
        @include link-bg-dis();
    }

    &.hide{
        left: -240px;
    }
}

.btn-so{
    @include link-bg(0 0 0 20px, $primaryLighter, $primary,unset,0px);

    &.dis{
        @include link-bg-dis();
    }

    &.hide{
        right: -240px;
    }
}