.loading {
    display: inline-flex;
    border-radius: 12%;
    width: 100%;
    padding-bottom: 100%;
    background-color: $primary;
    opacity: 0;
    animation: l-shape-1 2s ease-in-out 1s infinite;

    &.light{
      background-color: $primary;
    }
    &.dark{
      background-color: $primaryLighter;
    }
}



@keyframes l-shape-1 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(295deg);
    opacity: 0.5;
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(270deg);
    opacity: 0;
  }
}

