.swiper-container{
    @include body-container();
    justify-content: space-around;
}

.swiper-wrapper{
    height: initial;
}

.swiper-page{
    display: inline-flex;
    justify-content: center;

    .sw-p-container{
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 940px;
    }
}

.swiper-pagination{
    position: initial;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet{
    background-color: transparent;
   border-radius: 50%;
   
   opacity: 1;
   width: 16px;
   height: 16px;

   &.light{
    border: 2px solid  $primary;

    &.swiper-pagination-bullet-active{
        border: none;
        background-color: $primary;
    }
   }

   &.dark{
    border: 2px solid  $primaryLighter;

    &.swiper-pagination-bullet-active{
        border: none;
        background-color: $primaryLighter;
    }
   }
}



